.manga-title {
    padding-top: 10px;
    padding-left: 10px;
    height: 70px;
    overflow: scroll;
    margin: 15px;
    text-align: center;
    font-weight: 900;
    font-size: 1.2em;
}

.manga-title-history {
    padding-top: 10px;
    padding-left: 10px;
    height: 90px;
    overflow: scroll;
    margin: 15px;
    text-align: center;
    font-weight: 900;
    font-size: 1.2em;
}

.manga {
    display: inline-block;
    box-shadow: 5px 5px 20px #333;
    margin: 20;
    padding-left: 10px;
}

.manga-img {
    vertical-align: middle;
    height: 150px;
    width: 100%;
}

.csstransforms3d .mangas {
    -moz-perspective: 100px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.csstransforms3d .manga {
    position: relative;
    -moz-perspective: 100px;
    -moz-transform: rotateY(-3deg);
    -webkit-transform: perspective(100) rotateY(-3deg);
    outline: 1px solid transparent;
    box-shadow: none;
    margin: 0;
}

.csstransforms3d .manga img {
    position: relative;
    max-width: 100%;
}

.csstransforms3d .manga:before,
.csstransforms3d .manga:after {
    position: absolute;
    top: 2%;
    height: 96%;
    content: ' ';
    z-index: -1;
}

.csstransforms3d .manga:before {
    width: 100%;
    left: 7.5%;
    background-color: #5a2d18;
    box-shadow: 5px 5px 20px #333;
}

.csstransforms3d .manga:after {
    width: 5%;
    left: 100%;
    background-color: #EFEFEF;
    box-shadow: inset 0px 0px 5px #aaa;
    -moz-transform: rotateY(20deg);
    -webkit-transform: perspective(100) rotateY(20deg);
}

.csstransforms3d #manga2:before {
    background-color: #333;
}

.csstransforms3d #manga3:before {
    background-color: #254053;
}

.force-img {
    width: 200px;
    height: 250px;
}

.header-front {
    font-size: 1.4em;
    font-weight: 700;
}

@media only screen (min-device-width:

1024px

) {
    .ch-title {
        text-align: center;
        font-weight: 500;
        height: 60px;
        width: 190px;
    }
}

@media only screen (max-device-width:

1023px

) {
    .ch-title {
        text-align: center;
        font-weight: 500;
        height: 60px;
        width: 140px;
    }
}

.timeago {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}
