<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="library/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="library/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="library/abn_tree.css">
    <link rel="stylesheet" href="css/homecss.css">
    <link rel="stylesheet" href="library/tree.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>


    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="library/angular-ui-router.js"></script>
    <script src="library/ui-bootstrap-tpls-2.5.0.min.js"></script>
    
    <script src="library/md5.js"></script>
    <script src="library/angular-cookies.js"></script>
    <script src="library/abn_tree_directive.js"></script>
    <script src="library/ngStorage.js"></script>
    <script src="library/ngStorage.min.js"></script>
    <script src="library/angular-local-storage/angular-local-storage.js"></script>
    <script src="library/angular-password.min.js"></script>
    <script src="library/angular-password.js"></script>

    <script src="bower_components/angular-mocks/angular-mocks.js"></script>

    <script src="app.js"></script>

    <script src="services/dataFactory.js"></script>
    <script src="services/utilFactory.js"></script>

    <script src="controllers.js"></script>

    <script src="controllers/homeController.js"></script>
    <script src="controllers/loginCtrl.js"></script>
    <script src="controllers/userController.js"></script>
    <script src="controllers/userDetailController.js"></script>
    <script src="controllers/userAddController.js"></script>
	<script src="controllers/registerController.js"></script>
    <script src="controllers/forgetPasswordController.js"></script>
	<script src="controllers/uploadController.js"></script>
    <script src="controllers/searchController.js"></script>
	<script src="controllers/changePasswordController.js"></script>
    <script src="controllers/fileDetailsController.js"></script>
    <script src="controllers/editController.js"></script>
	<script src="services/multipartForm.js"></script>
	<script src="directives/fileModel.js"></script>
	
</head>

<!-- define angular controller -->
<body ng-app="scotchApp">

<nav class="navbar navbar-custom">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"  ui-sref="home">Chinese Medicine</a>
        </div>
		<!-- <div ng-show="currentUserSignedIn" class="navbar-left" style="width:400px; padding-top: 0.2cm">    
                
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Filter by</span> <span class="caret"></span>
                        </button>
                        
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#contains">Title</a></li>
                          <li><a href="#its_equal">Study Ref</a></li>
                          <li><a href="#greather_than">Study ID</a></li>
                          <li><a href="#less_than">File Type</a></li>
                          <li><a href="#all">Category</a></li>
                        </ul>
                        
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">         
                    <input type="text" class="form-control" name="x" placeholder="Search term...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
                
            <form class="form-inline" action="#" method="POST">
             
                <select class="form-control">
                    <option>Title</option>
                    <option>Study Ref</option>
                    <option>Study ID</option>
                    <option>File Type</option>
                    <option>Category</option>
                </select>
                    
                    
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button ng-href="/login.html" class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                </div>
            </form>
                
            
        </div> -->
        <ul class="nav navbar-nav navbar-right">
            <!--
			<li ng-show="currentUserSignedIn"><div >
				<form class="navbar-form" role="search">
				<div class="input-group">
					<input type="text" ng-model="content" class="form-control" placeholder="Search.." name="srch-term" id="srch-term">
                    <select ng-model="key"  class="form-control">
                       <option value="$">Any</option>
                       <option value="number">Student Number</option>
                       <option value="region">Student Region</option>
                     </select> 
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				</div>
                </form>
			</li>
            -->
            <li ng-show="currentUserSignedIn"><a ui-sref="home"><i class="fa fa-home"></i> Home</a></li>
            <li ng-show="currentUserSignedIn"><a ui-sref="search"><i class="fa fa-home"></i> Search</a></li>
            <li ng-show="currentUserSignedIn"><a ui-sref="about"><i class="fa fa-shield"></i> About</a></li>
            <li ng-show="permission == 1"><a ui-sref="users"><i class="fa fa-comment"></i> Users</a></li>
            
			<li ng-show="currentUserSignedIn"><a ui-sref="changePassword"><i class="fa fa-comment"></i> Change Password</a></li>
            <li ng-hide="currentUserSignedIn"><a ui-sref="login"><i class="fa fa-comment"></i> Login</a></li>
            <li ng-show="currentUserSignedIn"><a ui-sref="login" ng-click="doLogout()"><i class="fa fa-comment"></i>
                Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div id="main">

    <!-- angular templating -->
    <!-- this is where content will be injected -->
    <div ui-view></div>

</div>

<footer class="text-center">
</footer>

</body>

</html>
