<div class="col-md-6 col-md-offset-3">
    <h2>Edit</h2>
    <form name="form" enctype="multipart/form-data" role="form">
        <div class="form-group" >
            <label>Title: {{ title }}</label><br />
        </div>
        
        <div class="form-group" >
            <label>Study ID: {{ studyID }}</label><br />
        </div>
        
        <div class="form-group" >
            <label>Study Reference: {{ studyReference }}</label><br />
        </div>
        
        <div class="form-group" >
            <label>Modification: {{ modification }}</label><br />
        </div>
        
        <div class="form-group" >
            <label>Monograph: {{ monograph }}</label><br />
        </div>
        
        <div class="form-group" >
            <label>Intervention: {{ intervention }}</label><br />
        </div>
        <div class="form-group" >
            <label>Category: {{ category }}</label><br />
        </div>
        
        <div class="form-group" >
            <label>File Type: {{ fileType }}</label><br />
        </div>
        
        
		<div class="form-group" >
            <input type="file"  ngf-select ngf-max-size="1000MB" name="file" id="id_file"  ng-model="file" />
		</div>
        <div class="form-actions">
            <button ng-click="edit(file)" class="btn btn-black">Save</button>
            <a ui-sref="fileDetails" class="btn btn-link">
			<button class="btn btn-black">Cancel</button>
        </div>
		
		
    </form>
	
</div>
