<h1  style="padding-left: 17cm; padding-bottom: 0.5cm">Search</h1>
<div class="container" >
	<div style="padding-bottom: 0.5cm; margin-left: 20cm">
		<a style = "color: #000;" ui-sref="advancedSearch">Advanced Search</a>
	</div>
    <div class= "col-sm-12 pull-center " style="background:transparent !important">
    	
        <form class="form-inline" action="#" method="POST">
            <center>  
                <select style = "width: 110px" class="form-control" ng-model = "key">
                	<option>All</option>
		            <option>Title</option>
		            <option>Study Ref</option>
		            <option>Study ID</option>
		            <option>File Type</option>
		            <option>Category</option>
		            <option>Intervention</option>
		            <option>Monograph</option>
		            <option>Study Design</option>
		        </select>
            	
            	
            
               <div class="input-group custom-search-form">
                    <input style = "width: 420px" type="text" class="form-control" ng-model = "word" placeholder="Search..." >
                        <span class="input-group-btn">
                            <button ng-click = "search()" ng-enter="search()" class="btn btn-black" type="button">
                              Search
                            </button>
                        </span>
                </div>
            </center>
	    </form>
	    <!-- <div ng-show = "files" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
		  <div style ="padding: 10px; padding-left: 300px" class="btn-group mr-2" role="group" aria-label="First group">
		  	<button type="button" class="btn btn-black" ng-click = "allFilter()">ALL</button>
		    <button type="button" class="btn btn-black" ng-click = "pdfFilter()">PDF</button>
		    <button type="button" class="btn btn-black" ng-click = "excelFilter()">EXCEL</button>
		    <button type="button" class="btn btn-black" ng-click = "docFilter()">DOC</button>
		    <button type="button" class="btn btn-black" ng-click = "hzFilter()">HZ</button>
		    <button type="button" class="btn btn-black" ng-click = "phnFilter()">PHN</button> 
		  </div>
		</div> -->
		
		<div  ng-show = "files" style = "padding-top: 20px; padding-bottom: 10px;" class="btn-group btn-group-justified" role="group" aria-label="...">
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "allFilter()">ALL</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "fileType()">File Type</button>
		    
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "monograph()">Monograph</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "category()">Category</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "intervention()">Intervention</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "studyDesign()">Study Design</button> 
		  </div>
		</div>

		<div  ng-hide="fType" style = "padding-bottom: 10px;" class="btn-group btn-group-justified" role="group" aria-label="...">
		  
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "pdfFilter()">PDF</button>
		    
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "excelFilter()">EXCEL</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "docFilter()">WORD</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "txtFilter()">TXT</button>
		  </div>
		</div>

		<div  ng-hide="studyDes" style = "padding-bottom: 10px;" class="btn-group btn-group-justified" role="group" aria-label="...">
		  
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "cctFilter()">CCT</button>
		    
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "ncsFilter()">NCS</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "rctFilter()">RCT</button>
		  </div>
		  
		</div>

		<div  ng-hide="inte" style = "padding-bottom: 10px;" class="btn-group btn-group-justified" role="group" aria-label="...">
		  
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "acuFilter()">ACU</button>
		    
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "chmFilter()">CHM</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "combFilter()">COMB</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "othFilter()">OTH</button>
		  </div>
		</div>

		<div  ng-hide="mono" style = "padding-bottom: 10px;" class="btn-group btn-group-justified" role="group" aria-label="...">
		  
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "hzFilter()">HZ</button>
		    
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "phnFilter()">PHN</button>
		  </div>
		  
		</div>

		<div  ng-hide="cate" style = "padding-bottom: 10px;" class="btn-group btn-group-justified" role="group" aria-label="...">
		  
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "publFilter()">Publications</button>
		    
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "modeFilter()">Modern Clinical</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "endnFilter()">EndNote</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "expeFilter()">Experimental</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "classFilter()">Classical literature</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "epidFilter()">Epidata</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default" ng-click = "monoFilter()">Monograph</button>
		  </div>
		</div>

		<div ng-show = "files">
			<label style="float:left">{{choices[0].search}} Search For:</label> 
			<div ng-show = "type" style="float:left ">
			  <p style= "margin-left: 5px;">  {{type}} ({{keyword}}) </p>
			</div>
			<div ng-show = "choices" ng-repeat="choice in choices" style="float:left; margin-left: 5px;">
			  <p>  {{choice.type}} ({{choice.keyword}}) </p>
			</div>
		</div>
		<div >
		    <label style="clear: both; float: left; display: block; position: relative;" ng-show = "files" >Total Results: </label>
		    <p style="float:left; margin-left: 5px;">{{ files.length }}</p>
	    </div>
	    <table class="table table-striped table-condensed table-hover" >
	        <thead ng-show = "files">
	          	<tr>
	          		<th><a style="color: #000; font-weight: bold;" ng-click="sortData('6')">Study ID</th>
	          		<th><a style="color: #000; font-weight: bold;" ng-click="sortData('2')">Title</th>
		            <th><a style="color: #000; font-weight: bold;" ng-click="sortData('3')">Monograph</th>
		            <th><a style="color: #000; font-weight: bold;" ng-click="sortData('4')">Category</th>
		            <th><a style="color: #000; font-weight: bold;" ng-click="sortData('1')">File Type</th>
		            <th><a style="color: #000; font-weight: bold;" ng-click="sortData('5')">Modification</th>
		        </tr>
	        </thead>
	        <tbody>
	          	<tr style = "height: 50px" ng-repeat="x in files  | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize" >
	          		<td>{{x[6] | split:' ':0}}</td>
	          		<td class="col-md-6" > <a style="color: #000; font-weight: bold;" href ng-click = "getDetails($index + (currentPage-1) * 20)">{{x[2]}}</a></td>
	          		
		            
		            <!-- <td>{{x[7]}}</td>
		            <td>{{x[8]}}</td> -->
		            <td>{{x[3]}}</td>
		            <td>{{x[4]}}</td>
		            <td>{{x[1]}}</td>
		            <td>{{x[5]}}</td>
		            
		            <!-- <td style = "padding-top:0.2cm; padding-bottom: 0.2cm"><button type="button" ng-click = "view($index)" class="btn btn-black btn-sm">View</button></td>
		            <td style = "padding-top:0.2cm; padding-bottom: 0.2cm" ng-hide="permission == 3" ><button type="button" ng-click = "edit($index)" class="btn btn-black btn-sm">Edit</button></td>
		            <td style = "padding-top:0.2cm; padding-bottom: 0.2cm" ng-hide="permission == 3" ><a ng-href="{{ x[4] }}" download={{x[1]}}><button type="button"  class="btn btn-black btn-sm" >Download</button></td>
		            <td style = "padding-top:0.2cm; padding-bottom: 0.2cm" ng-hide="permission == 3" ><button type="button" confirmed-click="removeFile($index)" 
		                ng-confirm-click="Would you like to remove file?" class="btn btn-black btn-sm">Remove</button></td> -->
	            
	          	</tr>
	        </tbody>
	        <tfoot ng-show = "files">

	            <td colspan="6">
	                <div class="text-center" >
	                    <ul uib-pagination total-items="files.length" ng-model="currentPage" items-per-page ="pageSize" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false">
			                
			            </ul>
	                </div>
	            </td>
	        </tfoot>
	    </table>    
	    
    </div>
    
</div>
