<h1  style="padding-left: 17cm; padding-bottom: 1cm">Search</h1>
<div class="container" style="padding-right: 10%; padding-left: 10%">
	
    <div class= "col-sm-12 pull-center " style="background:transparent !important">
    	
        <form class="form-inline" action="#" method="POST">
            <center>  
                <select class="form-control" ng-model = "key">
		            <option>Title</option>
		            <option>Study Ref</option>
		            <option>Study ID</option>
		            <option>File Type</option>
		            <option>Category</option>
		        </select>
            
            
               <div class="input-group custom-search-form">
                    <input type="text" class="form-control" ng-model = "word" placeholder="Search...">
                        <span class="input-group-btn">
                            <button ng-click = "search()" class="btn btn-default" type="button">
                              Search
                            </button>
                        </span>
                </div>
	    </form>
	    <table class="table table-striped table-condensed table-hover" >
	        <thead ng-show = "files">
	          	<tr>
		        	<th>Title</th>
		            <th>Category</th>
		            <th>Ownership</th>
		        </tr>
	        </thead>
	        <tbody>
	          	<tr ng-repeat="x in files track by $index">
		            <td>{{x[1]}}</td>
		            <td>{{x[2]}}</td>
		            <td>{{x[3]}}</td>
		            
		            <td style = "padding-top:0.2cm; padding-bottom: 0.2cm"><button type="button" ng-click = "view($index)" class="btn btn-black btn-sm">View</button></td>
		            <td style = "padding-top:0.2cm; padding-bottom: 0.2cm" ng-hide="permission == 3" ><button type="button" ng-click = "edit($index)" class="btn btn-black btn-sm">Edit</button></td>
		            <td style = "padding-top:0.2cm; padding-bottom: 0.2cm" ng-hide="permission == 3" ><a ng-href="{{ x[4] }}" download={{x[1]}}><button type="button"  class="btn btn-black btn-sm" >Download</button></td>
		            <td style = "padding-top:0.2cm; padding-bottom: 0.2cm" ng-hide="permission == 3" ><button type="button" confirmed-click="removeFile($index)" 
		                ng-confirm-click="Would you like to remove file?" class="btn btn-black btn-sm">Remove</button></td>
	            
	          	</tr>
	        </tbody>
	        <tfoot>
	            <td colspan="6">
	                <div class="pagination pull-right">
	                    <ul ng-if="vm.pager.pages.length" class="pagination">
			                <li ng-class="{disabled:vm.pager.currentPage === 1}">
			                    <a ng-click="vm.setPage(1)">First</a>
			                </li>
			                <li ng-class="{disabled:vm.pager.currentPage === 1}">
			                    <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
			                </li>
			                <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
			                    <a ng-click="vm.setPage(page)">{{page}}</a>
			                </li>                
			                <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
			                    <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
			                </li>
			                <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
			                    <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
			                </li>
			            </ul>
	                </div>
	            </td>
	        </tfoot>
	    </table>    
	    
    </div>
    
</div>
