<div class="login_wrapper">

    <section class="login_content">

        <form name="form" ng-submit="vm.upload()" role="form">
            <h1>Upload</h1>
            <div class="form-group" ng-class="{ 'has-error': form.title.$dirty && form.title.$error.required }">
                <input type="text" name="title" id="title" class="form-control" ng-model="upFile.title" required
                       placeholder="Title"/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.year.$dirty && form.year.$error.required }">
                <input type="text" name="year" id="year" class="form-control" ng-model="uoFile.year" required
                       placeholder="Publish Year"/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.fType.$dirty && form.fType.$error.required }">
                <input type="text" name="fType" id="fType" class="form-control" ng-model="upfile.fType" required
                       placeholder="File Type"/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.author.$dirty && form.author.$error.required }">
                <input type="text" name="author" id="author" class="form-control" ng-model="upFile.author" required
                       placeholder="Author"/>
            </div>
            <div class="form-group">
                <input type="file" name="file" id="file" ng-model="file"/>
            </div>
            <div class="form-actions">
                <span type="submit" ng-click="upload()" class="btn btn-default">Upload</span>
                <img ng-if="vm.dataLoading"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                    <a href="#!/home" class="btn btn-link">
                        Cancel
                    </a>
            </div>


        </form>


    </section>


</div>
