<div  class="container" style="padding-right: 10%; padding-left: 10%;">
    <h2>Upload</h2>
    <div class="form-group" >
        <label for="studyDesgin">File Type</label>
        <select class="form-control" ng-model = "filetype">
        <option>PDF</option>
        <option>Others</option>
    </select>
    </div>
    <div ng-switch="filetype">
        <form ng-switch-when="PDF" name="form"  enctype="multipart/form-data" role="form">
            <div  class="form-group" >
                <label for="studyID">Study ID</label>
                <input type="text" class="form-control" ng-model="$parent.studyID" placeholder="Study ID" />
            </div>
            <div class="form-group" >
                <label for="studyRef">Study Reference</label>
                <input type="text" class="form-control" ng-model="$parent.studyRef"  placeholder="Study Reference"/>
            </div>
            <div class="form-group" >
                <label for="Monograph">Monograph</label>
                <input type="text" class="form-control" ng-model="$parent.monograph"  placeholder="Monograph"/>
            </div>
            <div class="form-group" >
                <label for="intervention">Intervention</label>
                <input type="text" class="form-control" ng-model="$parent.intervention"  placeholder="Intervention"/>
            </div>
            <div class="form-group" >
                <label for="Category">Category</label>
                <input type="text" class="form-control" ng-model="$parent.category"  placeholder="Category"/>
            </div>
            <div class="form-group" >
                <label for="studyDesgin">Study Design</label>
                <input type="text" class="form-control" ng-model="$parent.studyDesgin"  placeholder="Study Design"/>
            </div>
             
            
    		<div class="form-group" >
                <input type="file" ngf-select ngf-max-size="1000MB" name="file" id="id_file" ng-model="file" />
    		</div>
            
            <div class="form-actions">
                <button  ng-click="upload(file)" class="btn btn-black">Upload</button>
    			<button ui-sref="search" class="btn btn-black">Cancel</button>
            </div>
    		
    		
        </form>
        <form ng-switch-when="Others" name="form"  enctype="multipart/form-data" role="form">

            <div class="form-group" >
                <label for="Monograph">Monograph</label>
                <input type="text" class="form-control" ng-model="$parent.monograph"  placeholder="Monograph"/>
            </div>
            <div class="form-group" >
                <label for="Category">Category</label>
                <input type="text" class="form-control" ng-model="$parent.category"   placeholder="Category"/>
            </div>
            
            <div class="form-group" >
                <input type="file" ngf-select ngf-max-size="1000MB" name="file" id="id_file" ng-model="file" />
            </div>
            
            <div class="form-actions">
                <button  ng-click="upload(file)"  ng-disabled="form.$invalid" class="btn btn-black">Upload</button>
                <button ui-sref="search" class="btn btn-black">Cancel</button>
            </div>
            
            
        </form>
	</div>
</div>
